/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    /* padding: 2em; */
    /* font-family: inherit; */
}

.txt-blue{
    color: #345FF6;
}

.txt-gray{
    color: #5E6E85;
}
.txt-s{
    font-size: 14px;
}

.txt-m{
    font-size: 20px;
}

.txt-semibold{
    font-weight: 500;
}
.border{
    border-radius: 0.5em;
    border-color: #D8E2E7;
    padding: 0.5em;
    width: fit-content;
}

.border:hover{
    border-color: #345FF6 !important;
    cursor: pointer;
}


.block{
    display: block;
}

input{
    border: 0px;
}

.width-m{
    width: 14em;
}

.width-s{
    width: 7em;
}

.mb-s{
    margin-bottom: 2em;
}
#landing-img{
    width: 25%;
    height: 25%;
}

#radios-container{
    gap: 20px;
}

.hide{
    display: none;
}

#bmi-result-container{
    width: 100%;
    color: white;
    background-image: linear-gradient(to right, #345FF6, #587DFF);
    border-radius: 2em 10em 10em 2em;
}

#bmi-description-container{
    width: 70vw;
    height: 90vh;
    border-radius: 30em;
    padding: 6em;
    background-image: linear-gradient(130deg, #FFFFFF 10%, #B3D3F1) ;
    border-radius: 2em;
    position: relative;
    top: -3em;
}
#bmi-description-container p{
    width: 50vw;
}
#bmi-form-container{
    position: absolute;
    right: 10vw;
    top: 10vh;
    left: 60vw;
    width: fit-content;
    padding: 2em;
    background: white;
}
#features{
    background-image: linear-gradient(130deg, #FFFFFF 50%, rgba(214, 230, 254, 0.4)) ;
    width: 98vw;
    margin-top: 10vh;
    border-radius: 2em;
}

#features div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.icon{
    width: 25%;
    height: 25%;
}

.card{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(15, 9, 9, 0.2);
    border: 0px;
}

/* might be changed */
p{
    color: #5E6E85; 
}

.flex-row-container{
    display: flex;
    gap: 5vw;
    justify-content: center;
}
#bmi-result{
    font-size: 3em;
    color: white;
    font-weight: 600;
    text-align: center;
}

.hide{
    display: none !important;
}

span{
    margin-right: 1em;
}
